/* added format*/


.btn {
	background-color: white;
	color: white;
	border: 2px solid #555555;
	margin: 10px;
}

.btn:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
	color: white;
}

th {
	background-color: #aaa;
}

/* original */
body {
	padding-left: 100px;
}
body {
	background-size: auto 1300px;
	background-repeat:no-repeat;
}
div#navbar {
	text-align: center;
	height: 40px;
	background-repeat: repeat-x;
}
div#navbar:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
	color: white;
}
div#navbar ul {
	line-height: 40px;
	font-size: 24px;
	margin: 0px;
	color:white;
	padding: 0px;
}

div#navbar li {
	list-style-type: none;
	display: inline;
	padding-right: 15px;
}

div#navbar li a {
	text-decoration: none;
}

div#navbar li a:hover {
	color: red;
	border-bottom: dashed 1px;
}

label {
	display: block;
	margin: 5px 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	padding: 5px 30px 5px 30px;
	border-bottom: 1px solid #aaa;
}

h1 {
	color: rgb(0, 58, 247);
	color: white;
}
ul{
	color: white;
}
footer {
	width: 600px;
	border-top: dotted 1px;
}

p {
	width: 600px;
	color: white;
}
p:hover {
	 box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	 color: yellow;
 }