/* added format*/


.btn {
	background-color: white;
	color: black;
	border: 2px solid #555555;
	margin: 10px;
}

.btn:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	background-color: #555555;
	color: white;
}